.TodoListModal {
  /* keeps content together */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* moves the content to the center of the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  padding: 20px;
}

.TodoListOverlay {
  /*
    No Overlay
    */
}

#TDLOpen {
  background: none;
  border: none;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  height: 100%;
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  transition: 0.3s;
}

#TDLOpen:hover .bi-clipboard::before {
  opacity: 1;
  content: "\F71D";
}

#TDLClose {
  position: absolute;
  border: none;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
}

#TDLContent {
  display: flex;
  flex-direction: column;
  border-top: 10px burlywood solid;
  text-align: center;
}

#A-RButtons {
  margin-bottom: 10px;
  padding: 10px;
}

#addButton {
  background-color: green;
}

#removeButton {
  background-color: red;
}

#clearButton {
  background-color: grey;
}

#TodoList {
  margin-bottom: 30px;
}
